/lineclipping_cohen_suderland_random_all_lines_display/nbproject/private/
/lineclipping_cohen_suderland_random_all_lines_display/build/
/rotation/nbproject/private/
/rotation/build/
/rotation_1/nbproject/private/
/transformation/nbproject/private/
/rotation/dist/
/rotate_a_2d_cube_45_deg/nbproject/private/
/rotate_a_2d_cube_45_deg/build/
/rotate_a_2d_cube_45_deg_1/nbproject/private/
/rotate_a_2d_cube_45_deg_1/build/
/project/nbproject/private/
/project/build/
/solar_system/nbproject/private/
/solar_system/build/
/solar_system_1/nbproject/private/
/solar_system_1/build/